:root {
  --header: #fafafa;
  --primaryColor: #1b1b1b;
  --falseAnwers: #e19090;
  --trueAnwers: #81d6a5;
}

body.correct {
  background: var(--trueAnwers);
}

body.incorrect {
  background: var(--falseAnwers);
}

button {
  padding: 15px 24px;
  font-size: 18px;
  min-width: 140px;
  border: none;
  border-radius: 4px;
  background-color: lightgrey;
  cursor: pointer;
}

button:focus {
  border: 3px solid #000;
}

button:disabled {
  opacity: 0.3;
}

button.primary {
  background-color: var(--primaryColor);
  color: white;
}

.wrap_container {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.app-header {
  background-color: var(--header);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.quiz-card {
  text-align: center;
}

.buttons-quiz-anwers {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.buttons-quiz-anwers.show>button[data-istrue="true"] {
  background-color: var(--trueAnwers);
  color: white;
}


.buttons-quiz-anwers.show>button[data-istrue="false"] {
  background-color: var(--falseAnwers);
  color: white;
}